#my-skills-section {
    /* background-color: #77acf1; */
    background-color: black;
}

#html-icon {
    color: #f4470b;
}

#bootstrap-icon {
    color: #730fef;
}

.contact-button{
    text-decoration: none;
}